*{
  transition: all 0.3s;
}

.down{
  animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {
  25%{
    transform: translateY(-2px);
  }
  50%{
    transform: translateY(2px);
  }
  75%{
    transform: translateY(-2px);
  }
  
}